body {
    background-color: gold;
}

h1 {
    color: rgb(95, 238, 12);
    margin-left: 20px;
}
h2 {
    color: rgb(247, 56, 9);
    margin-left: 30px;
}
p {
    color: rgb(10, 247, 227);
    margin-left: 50px;
}